<section class="SignIn">
    <form name="signInForm" ng-submit="login()" validate>
    	<h1>Sign In</h1>
    	<input type="email" name="email" placeholder="Email" autofocus ng-model="user.email" ng-required="true">
    	<p class="error" ng-show="signInForm.email.$invalid && signInForm.email.$touched">Invalid Email</p>

    	<input type="password" name="password" placeholder="Password" autofocus ng-model="user.password" ng-required="true">
    	<p class="error" ng-show="signInForm.password.$invalid && signInForm.password.$touched">Password Required</p>

    	<button type="submit">Sign In</button>
    	<p>or <a href="/#/register"><button>Sign Up</button></a></p>
    </form>
</section>