body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #fff;
}

.wrapper{
    position: absolute;
    width: 75%;
    height: 75%;
    margin:5% 12.5%;
    background-color: #eee;
    border: 1px dotted #ccc;
}

.div-rec{
    width: 20%;
    background-color: #ddd;
    margin: 5% 5%;
}

#optical-illusion{
    height: 30%;
    text-transform: uppercase;
    color: #fff;
    background: #9370DB;
    margin-left: 20%;
}

#name{
    height: 25%;
    text-transform: uppercase;
    color: #555;
    text-align: right;
    padding: 45% 5% 0 0;
}

